<div  class="container d-flex flex-wrap justify-content-center align-items-center justify-content-center text-center mt-5">
  <div id="img-contact">
    <img src="https://i.imgur.com/fhgfHO6.jpg" alt="cocteles">
  </div>
  <div id="descripcion-contact">
    <div class="d-flex flex-column align-items-center text-center">
      <h1>Sobre nosotros</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi earum quae impedit voluptate blanditiis ducimus nemo nobis obcaecati, doloremque reprehenderit deleniti sint vitae est molestias perspiciatis distinctio dolor consequatur quia.
      Eligendi, assumenda ipsam quis dolore dignissimos vel temporibus voluptatem quam debitis asperiores quibusdam veniam nihil perferendis qui, reiciendis laboriosam suscipit. Placeat natus dolor id nobis tenetur! Aperiam suscipit sit velit!</p>
    </div>
  </div>
</div>
